@import 'spinner';

.spinner {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
    div {
        transform-origin: 32px 32px;
    }
    div:after {
        top: 3px;
        left: 29px;
        width: 5px;
        height: 14px;
    }
}
