<form #form="ngForm" [ngClass]="{ 'did-submit': didSubmit }" (ngSubmit)="saveIfFormValid(form.valid)">
  <div>
    <h2 mat-dialog-title>{{isAdding ? 'Add' : 'Edit'}} Employee</h2>
    <mat-dialog-content>
      <app-loader *ngIf="isLoading"></app-loader>
      <h5 *ngIf="hasError">Error retrieving employee: {{errorMessage}}</h5>
      <div *ngIf="didLoad">
        <table>
          <tr>
            <td>
              <mat-form-field>
                <mat-label for="firstName">First name</mat-label>
                <input matInput id="firstName" name="firstName" type="text" autofocus required [(ngModel)]="employee.firstName" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label for="lastName">Last name</mat-label>
                <input matInput id="lastName" name="lastName" type="text" required [(ngModel)]="employee.lastName" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label for="title">Title</mat-label>
                <input matInput id="title" name="title" type="text" required [(ngModel)]="employee.title" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label for="birthDate">Birth Date</mat-label>
                <input matInput id="birthDate" name="birthDate" type="date"
                  [ngModel]="employee.birthDate | date: 'yyyy-MM-dd'" (ngModelChange)="employee.birthDate = $event" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!didLoad">Save</button>
      <app-inline-loader *ngIf="isSaving"></app-inline-loader>
      <button mat-button type="button" (click)="cancel()">Cancel</button>
    </mat-dialog-actions>
  </div>
</form>