<h1>
Employees
<input class='form-control search' type='text' placeholder='Search' aria-label='Search' [(ngModel)]='filter' />
</h1>
<app-loader *ngIf='isLoading'></app-loader>
<h5 *ngIf='hasError'>Error retrieving employees: {{errorMessage}}</h5>
<div *ngIf='didLoad'>
  <button type='button' class='btn btn-primary' (click)='addEmployee()'>Add</button>
  <table class='table'>
    <tr>
      <th (click)='toggleSortField("lastName")' [class]='"sortable " + sortIndicatorClass("lastName")'>Last Name</th>
      <th (click)='toggleSortField("firstName")' [class]='"sortable " + sortIndicatorClass("firstName")'>First Name</th>
      <th (click)='toggleSortField("title")' [class]='"sortable " + sortIndicatorClass("title")'>Title</th>
      <th></th>
    </tr>
    <tr *ngFor='let e of filteredEmployees'>
      <td>{{e.lastName}}</td>
      <td>{{e.firstName}}</td>
      <td>{{e.title}}</td>
      <td><a href='#' (click)="$event.preventDefault();editEmployee(e.id)">Edit</a></td>
      <td><a href='#' (click)="$event.preventDefault();confirmDelete(e.id, e.firstName + ' ' + e.lastName)">Delete</a>
        <app-inline-loader *ngIf='(isDeletingEmployee) && (deletedEmployeeId == e.id)'></app-inline-loader>
        <span *ngIf='(deleteEmployeeError) && (deletedEmployeeId == e.id)'>
          <span class='icon-tooltip'>
            <fa-icon [icon]='errorIcon'></fa-icon>
            <span class='icon-tooltip-text'>{{deleteEmployeeError}}}</span>
          </span>
        </span>
      </td>
    </tr>
  </table>
</div>
