<h1>
Employees
<input class='form-control search' type='text' placeholder='Search' aria-label='Search' [(ngModel)]='filter' />
</h1>
<app-loader *ngIf='isLoading'></app-loader>
<h5 *ngIf='hasError'>Error retrieving employees: {{errorMessage}}</h5>
<table *ngIf='didLoad' class='table'>
  <tr>
    <th (click)='toggleSortField("lastName")' [class]='"sortable " + sortIndicatorClass("lastName")'>Last Name</th>
    <th (click)='toggleSortField("firstName")' [class]='"sortable " + sortIndicatorClass("firstName")'>First Name</th>
    <th (click)='toggleSortField("title")' [class]='"sortable " + sortIndicatorClass("title")'>Title</th>
    <th></th>
  </tr>
  <tr *ngFor='let e of filteredEmployees'>
    <td>{{e.lastName}}</td>
    <td>{{e.firstName}}</td>
    <td>{{e.title}}</td>
    <td><a [routerLink]="['/employees', e.id]">Edit</a></td>
  </tr>
</table>
