.navbar-default {
    background-color: #F0F0F0;
}

mat-sidenav-content > ng-component {
    display: block;
    width: 90%;
    margin: 0 5%;
}

.center {
    margin: 0 auto;
}

.full-width {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
